{{>layout/header}}
<div class="selectdongnae">
    
    <h3 style="text-align: center;">원하는 동네를 입력하세요</h3>

    <form action="/search" method="get">
        <div class="inputbox">
        <input type="text" id="juso" name="juso" placeholder="Ex) 00시 00구">
        </div>
        <button id="inputbtn" type="submit">검색</button>
    </form>

    <div class="mapcontainer">
        <div id="map"></div>
    </div>
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=153434e592fa10a5ebecb3d7cfb9cc22&libraries=services"></script>
    <script src="/js/Kidsmap.js"></script>

<table class="storeTable">
    <thead>
        <tr>
            <th>가게이름</th>
            <th>주소</th>
            <th>업종</th>
            <th>위치 보기</th>
        </tr>
    </thead>
    <tbody id="kidsmaplist" >
        {{#kidsmap}}
        <tr>
            <td>{{store}}</td>
            <td>{{addr}}</td>
            <td>{{category}}</td>
            <td style="cursor:pointer;"><img class="markerImg" onclick="showMarker()" src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png" alt="marker img"></td>
        </tr>
        {{/kidsmap}}
      </tbody>
</table>

<script>
//아이콘 클릭했을 때 주소 alert로 띄워보기
// $(".markerImg").click(function(){
//     //현재 행 정보 가져옴
//     var thisRow = $('.storeTable').closest('tr');//아무 행의 아이콘 눌렀을때 thisRow=init[prevObject: init(1), context: document] 뜸

//     //주소 들고오기
//     var oneAddr = thisRow.find('td:eq(1)').val();

//     alert(oneAddr);
//     //oneAddr undefined

// })

// //1행의 2열 정보값 나옴
// $(".markerImg").click(function(){
//     var testA = document.getElementById("kidsmaplist").getElementsByTagName("tr")[0].getElementsByTagName("td")[1].innerHTML;
//     alert(testA);
// })



</script>
{{>layout/footer}}